Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
Flask-Migrate
gunicorn
python-dotenv
psycopg2-binary
# pdfkit  # Temporarily disabled due to import issues
psutil
# PyPDF2  # Temporarily disabled due to import usage
# pdfplumber  # Temporarily disabled due to import issues
holidays
pytz