{% extends "shared/dashboard_layout.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/assignments.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/management_assignments_and_grades.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/management_admin_assignments.css') }}?v=2">
<link rel="stylesheet" href="{{ url_for('static', filename='css/assistant_approval.css') }}">
{% endblock %}

{% block title %}Assignments & Grades Management{% endblock %}

{% block dashboard_content %}
{% include 'management/_management_assignments_and_grades.html' %}
{% endblock %}
